[cltl.audio]
sampling_rate: 16000
channels: 1
sample_depth: 2
frame_size: 480

audio_resource: cltl.backend.resource.audio
mic_resource: cltl.backend.resource.microphone

[cltl.video]
resolution: VGA
camera_index: 0

[cltl.backend]
run_server: True
server_image_url: http://localhost:8000
server_audio_url: http://localhost:8000
storage_url: http://eliza-backend:8000/storage/
audio_storage: remote
audio_storage_path: ./storage/audio
audio_source_buffer: 16
image_storage: remote
image_storage_path: ./storage/image
image_cache: 32
scenario_topic: cltl.topic.scenario

[cltl.backend.remote_storage]
# Override storage_url in custom.config with the actual server address
storage_url: http://localhost:8001/storage
upload_timeout: 30

[cltl.backend.mic]
topic:

[cltl.backend.image]
topic:
rate: 0

[cltl.backend.tts]
topic: cltl.topic.text_out

[cltl.backend.text_output]
remote_url:

[cltl.event]
implementation: kombu

[cltl.event.kombu]
# Override server in custom.config with the actual server address
server: amqp://eliza:eliza123@localhost:5672/
exchange: cltl.combot
compression: bzip2
tenant: local

[cltl.event_log]
log_dir: ./storage/event_log

[app.context]
topic_scenario: cltl.topic.scenario
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire

[environment]
GOOGLE_APPLICATION_CREDENTIALS: config/google_cloud_key.json
