cltl.eliza-app

emissor
cltl.emissor-data[service,client]
cltl.context[service]
cltl.backend[host,service,impl]
cltl.vad
cltl.asr[impl,service,whisper]
cltl.combot[service]
cltl.chat-ui[service]
cltl.eliza[service]
